#backImgDash {
  min-height: 40vh;
  background-size: cover;
  z-index: 1;
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#backImgDash::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(backDash.jpg) no-repeat center center;
  background-size: cover;
}

#backImgCharacter {
  min-height: 40vh;
  background-size: cover;
  z-index: 1;
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#backImgCharacter::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(homeprofile.jpg) no-repeat center center;
  background-size: cover;
}

#backImgProfile {
  min-height: 40vh;
  background-size: cover;
  z-index: 1;
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#backImgProfile::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(homeprofile2.jpg) no-repeat center center;
  background-size: cover;
}

#shadowBase {
  box-shadow: 1px 0px 1px 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
